#show- {
  display: none;
  border: 3px solid #565858;
  padding: 20px 20px 20px 20px;
  background-color: #E7EFEF;

}body {
  border: 2px solid #565858;
  padding: 15px 15px 15px 15px;
  background-color: #BCC0BC;
}

h1 {
  font-family: Helvetica;
  color: #A30000;
  text-align: center;
}

h2 {
  font-family: Georgia, Times, Helvetica;
  color: #565858;
}

. {
  cursor: pointer;
  color: #CC4040;
}

.:hover {
  text-decoration: underline;
}
