#show-order {
  display: none;
  border: 3px solid #565858;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  background-color: #FAFFFA;
}

body {
  border: 2px solid #565858;
  border-radius: 10px;
  padding: 15px 15px 15px 15px;
  background-color: #BCC0BC;
}

h1 {
  font-family: Helvetica;
  color: #A30000;
  text-align: center;
}

h2 {
  font-family: Georgia, Times, Helvetica;
  color: #565858;
}

h3 {
  font-family: Georgia, Times, Helvetica;
  color: #565858;
}

h4 {
  font-family: Georgia, Times, Helvetica;
  color: #565858;
}

.customer {
  cursor: pointer;
  color: #CC4040;
}

.customer:hover {
  text-decoration: underline;
}

.btn:hover {
  color: #E60000;
  font-weight: bold;
  background-color: #FFFFFF;
}
